body {
    font-size: 16px;
}

* {
    margin: 0;
}
html, body {
    height: 100%;
}
.page-wrapper {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -30px;
}
.page-wrapper:after {
    content: "";
    display: block;
}

.page-wrapper > .container {
    padding-bottom: 50px;
}
body > footer, .page-wrapper:after {
    /* .push must be the same height as footer */
    height: 20px;
    padding: 5px 0;
}

body > footer {
    xmargin-top: 50px;
    background: #ccc;
}

body > footer a + a {
    margin-left: 5px;
}


.navbar .brand.with-icon {
    padding-left: 85px;
    position: relative;
}

.navbar .brand.with-icon img {
    position: absolute;
    left: 20px;
    top: 0;
}

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover {
    cursor: default;
    text-decoration: underline;
}

.logo {

}

.logo img {
    display: inline-block;
    margin-left: -66px;
}

.logo h1 {
    display: inline-block;
    font-size: 90px;
    vertical-align: top;
}

.logo h1 small {
    display: block;
    text-align: right;
    margin-top: -22px;
}

@media (max-width: 979px) {
    .logo img {
        display: block;
        margin: 0 auto;
    }

    .logo h1 {
        display: block;
        margin-bottom: 40px;
    }

    .logo h1 small {
        text-align: left;
        display: inline-block;
        margin-top: 0;
    }
}

@media (max-width: 767px) {
    .logo h1 {
        font-size: 50px;
        display: block;
    }

    .logo h1 small {
        display: block;
        text-align: left;
        font-size: 16px;

    }
}

body > .hero-unit ul {
    margin-bottom: 40px;
}

.download-button-wrapper {
    display: inline-block;
    position: relative;
}

.hero-unit .download-info {
    display: block;
    font-size: 12px;
}

@media (min-width: 980px) {
    .hero-unit .download-button {
        font-size: 32px;
        padding: 20px 21px;
    }

    .hero-unit .download-info {
        position: absolute;
        font-size: 12px;
        left: 100%;
        bottom: 0;
        white-space: nowrap;
        vertical-align: bottom;
        line-height: 12px;
        margin-left: 10px;
    }
}

#doc-nav.sidebar .well {
    position: fixed;
    top: 100px;
}

#doc-nav.sidebar .nav-list.affix {
    width: 240px;
    margin-left: 15px;
    padding: 0;
    top: 19px;
}

@media (max-width: 767px) {
    #doc-nav.sidebar .nav-list.affix {
        position: static;
        width: auto;
        top: 0;
    }
}

#doc-nav.sidebar > ul > li > ul {
    display: none;
}

#doc-nav.sidebar > ul > li.active > ul {
    display: block;
}

pre.prettyprint .muted {
    opacity: 0.4;
}

.buffered {
    padding-top: 40px;
}

#content-host > div {
    display: none;
}

.live-preview  > div {
    border: 2px solid #333;
}

