body {
    font-size: 16px;
}

* {
    margin: 0;
}

html, body {
    height: 100%;
}

h5 {
    font-size: 16px;
}

.page-wrapper {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -30px;
}

.page-wrapper:after {
    content: "";
    display: block;
}

.page-wrapper > .container {
    padding-bottom: 50px;
}

.navbar .brand.with-icon {
    padding-left: 85px;
    position: relative;
}

.navbar .brand.with-icon img {
    position: absolute;
    left: 20px;
    top: 0;
}

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover {
    cursor: default;
    text-decoration: underline;
}
.logo h1 {
    font-family: 'Raleway', Helvetica Neue, Open Sans, sans-serif;
    font-weight: 700;
    color: #444;
    text-shadow: 0 0 1px #fff;
}

.logo h1 span {
    color: #999;
}

.logo h1 small {
    font-size: 22px;
    font-weight: 500;
}

.logo h1 small em {
    font-weight: 300;
    font-style: normal;
    color: #D5D5D5;
}

.hero-unit ul {
    /*padding-left: 15px;*/
    /*list-style: square;*/
}

.logo {

}

.logo img {
    display: inline-block;
}

.logo h1 {
    display: inline-block;
    font-size: 90px;
    vertical-align: top;
    margin-bottom: 40px;
}

.logo h1 span {

}

.logo h1 small {
    display: block;
    text-align: right;
    margin-top: -18px;
}

.facts h3 {
    font-weight: 500;
}

.facts p.lead {
    font-size: 18px;
    line-height: 22px;
}

@media (max-width: 979px) {
    .logo img {
        display: block;
        margin: 0 auto;
    }

    .logo h1 {
        font-size: 70px;
        /*display: block;
        margin-bottom: 40px;*/
    }

    .logo h1 small {
        /*text-align: left;*/
        /*display: inline-block;
        margin-top: 0;*/
        margin-top: -15px;
    }
}

@media (max-width: 767px) {
    .hero-unit {
        padding-left: 20px;
        padding-right: 20px;
        margin-left: -20px;
        margin-right: -20px;
        border-left: none;
        border-right: none;
    }


    .button-hero {
        margin-left: -20px;
        margin-right: -20px;
    }

    #site-nav {
        margin-left: -20px;
        margin-right: -20px;
    }
    .logo h1 {
        font-size: 60px;
        display: block;
        padding-left: 60px;
    }

    .logo h1 small {
        display: block;
        text-align: left;
        font-size: 18px;
        margin-top: -5px;
    }

    .logo img {
        margin: 0;
    }
}

@media (max-width: 480px) /* Mobile */ {
    .logo h1 {
        font-size: 36px;
        /*display: block;*/
        padding-left: 25px;
    }

    .logo h1 small {
        display: block;
        text-align: left;
        font-size: 18px;
        margin-top: -5px;
    }
}

body > .hero-unit ul {
    margin-bottom: 40px;
}

.download-button-wrapper {
    display: inline-block;
    position: relative;
}

.hero-unit {
    margin-bottom: 0;
}

.download-info {
    display: block;
    font-size: 12px;
}

@media (min-width: 980px) {

    .download-info {
        font-size: 12px;
        white-space: nowrap;
        vertical-align: bottom;
        line-height: 18px;
    }
}

.button-hero {
    padding: 20px 0;
    background: #45413e;
}

.button-hero .btn {
    text-shadow: none;
    color: #fff;
    background: transparent;
    -webkit-border-radius: 0;
    border-radius: 0;
    background-clip: padding-box;
    border: 4px solid #f2f2f2;
    font-weight: 700;
    font-size: 18px;
    padding: 20px 30px;
    font-family: 'Lato', Helvetica Neue, Open Sans, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    -webkit-transition: background 120ms ease-out;
    -moz-transition: background 120ms ease-out;
    -o-transition: background 120ms ease-out;
    transition: background 120ms ease-out;

}

.button-hero .btn:hover,
.button-hero .btn:active {
    background: #333;
}

.button-hero .download-button-wrapper + .download-button-wrapper {
    margin-left: 20px;
}

.button-hero .btn.btn-primary {
    background: #555;
}

.button-hero .btn.btn-primary:hover,
.button-hero .btn.btn-primary:active {
    background: #333;
}

#doc-nav.sidebar .well {
    position: fixed;
    top: 100px;
}

#doc-nav.sidebar .nav-list.affix {
    width: 190px;
    margin-left: 15px;
    padding: 0;
    top: 19px;
}

@media (max-width: 979px) and (min-width: 768px) {
    #doc-nav.sidebar .nav-list.affix {
        width: 136px;
    }
}

@media (min-width: 1200px) {
    #doc-nav.sidebar .nav-list.affix {
        width: 240px;
    }
}

@media (max-width: 767px) {
    #doc-nav.sidebar .nav-list.affix {
        position: static;
        width: auto;
        top: 0;
    }
}

#doc-nav.sidebar > ul > li > ul {
    display: none;
}

#doc-nav.sidebar > ul > li.active > ul {
    display: block;
    list-style-type: none;
}

#doc-nav.sidebar > ul > li.active > ul > li {
    display: block;
}

#doc-nav.sidebar > ul > li.active > ul > li a {
    display: block;
    padding: 4px 5px;
}

#doc-nav.sidebar > ul > li.active > ul > li a.active {
}

pre.prettyprint .muted {
    opacity: 0.4;
}

.buffered {
    padding-top: 40px;
}

.well pre {
    margin-bottom: 0;
}

#content-host > div {
    display: none;
}

#content-host hr {
    margin: 50px 0;
}

.live-preview > div {
    border: 2px solid #333;
}

.api-item {
    margin: 20px 0;
}

.api-item h5 a {
    display: block;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    font-size: 22px;
    font-weight: normal;
    white-space: normal;
    background: #333;
    color: #f5f5f5;
    padding: 5px 24px 5px 24px;
    margin-right: -24px;
    margin-left: -24px;
}

.api-item > p {
    font-size: 20px;
    line-height: 22px;
}

.api-item > p small {
    color: #888888;
    font-size: 12px;
    line-height: 14px;
}

.api-item .signature {
    padding: 0 10px 5px;
    margin-top: 15px;
    background: #E9E9E9;
    border: 1px solid #BCBCBC;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.3);
}

.api-item .signature h6 {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    font-weight: bold;
    font-size: 18px;
    background: #3299BB;
    padding: 4px 5px;
    margin-left: -10px;
    margin-right: -10px;
    color: #fff;
}

.api-item .signature ul {
    list-style-type: none;
    padding: 0;
    margin-left: 0;
}

.api-item .signature ul li {

}

.api-item .signature ul li p {
    margin-bottom: 15px;
    padding-top: 3px;
}

.api-item .signature ul li code {
    color: #FF9900;
    padding: 0;
    background: none;
    border: none;
    font-weight: bold;
}

.api-item .signature ul li > code {
    font-size: 20px;
}

.api-item .signature ul li p code {
    font-size: 16px;
}

